nav.toolbar.navbar.navbar-default
  .container-fluid
    .navbar-heading.visible-xs-block
      button.pull-left.btn.navbar-btn.show-sidebar(toggle-sidebar="#sidebar")
        span.fui-list-bulleted
    ul.toolbar-status.nav.navbar-nav.navbar-left
      li
        a.toolbar-parent.navbar-brand(href="" my-sref="toolbar.parent.sref" ng-show="toolbar.parent && (!toolbar.parent.needAdmin || Auth.isAdmin())") {{ toolbar.parent.text }}
      li
        a.toolbar-arrow.navbar-brand(ng-show="toolbar.child && (!toolbar.parent.needAdmin || Auth.isAdmin())")
          span.fui-arrow-right
      li
        a.toolbar-child.navbar-brand(ng-show="toolbar.child") {{ toolbar.child.text }}
    form.toolbar-input-form.navbar-form.navbar-left(ng-show="toolbar.input")
      .form-group
        input.toolbar-input.form-control(type="text" placeholder="{{ toolbar.input.placeholder }}" ng-model="toolbar.input.text")
    ul.toolbar-buttons.nav.navbar-nav.navbar-right
      li(ng-repeat="button in toolbar.buttons")
        button.toolbar-button.btn.navbar-btn(ng-class="button.class", ng-disabled="button.disabled", ng-click="click($index)", my-sref="button.sref") {{ button.text }}
          span(ng-class="button.icon")
