.list-group.tags-list
  a.list-group-item(href="#" ng-repeat="tag in vm.tags" ng-click="vm.detail(tag)")
    h6.tag-name
      {{ tag.name }}
    p.tag-detail
      span.tag-url /{{ tag.url }}
.tag-detail-content.markdown.col-md-8(ui-view="detail")
