h1 Todo list
hr
form(name="todoForm", novalidate, ng-submit="addTodo()")
  .form-group(ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}")
    input.form-control.focus(type="text", name="content", placeholder="Content",
    autocomplete="off", required, ng-model="newTodo.content")
    span.has-error.control-label(ng-show="todoForm.content.$invalid && todoForm.content.$dirty") Content is required.
  button.btn.btn-default(ng-disabled="todoForm.$invalid") Add
hr
.list-group
  a.list-group-item(ng-repeat="todo in todos") {{todo.content}}&nbsp;
    span.text-muted {{ todo.owner.username }}
    i.glyphicon.glyphicon-remove.pull-right(ng-click="removeTodo(todo)")
