.split-document-list.documents-list {
  padding: 0;
  border-right: 1px solid #BDC3C7;
}

.document-detail-content {
  display: none;
}

.split-document-detail.document-detail-content {
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}
