include ../../core/mixin/mixin.jade

//- avatar input modal
#image-input-modal.modal(tabindex="-1" role="dialog")
  .vertical-alignment-helper
    .modal-dialog.vertical-align-center
      .modal-content
        .modal-body
          .no-padding(ng-show="imageTypeSwitch")
            input.form-control(type='text' placeholder="image url" ng-model="vm.image" autofocus)
        .modal-footer
          .pull-left
            input(checked type="checkbox" data-toggle="switch" data-on-text="Link" data-off-text="File" data-on-color="info" bootstrap-switch ng-model="imageTypeSwitch")

          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-info(type="button" data-dismiss="modal" ng-click="vm.saveImage()") Save

#editor-setting.collapse.col-xs-12
  form.form-horizontal(name="addDocumentForm")

    .form-group
      .split-form-group.col-xs-12.col-md-6(ng-class="{'has-error': addDocumentForm.url.$invalid && addDocumentForm.url.$dirty}")
        label.col-sm-2.control-label(for='url') Url
        .col-sm-10
          input#url.form-control(name='url' type='text' placeholder='Url' pattern='[a-z0-9-]*' ng-model='vm.document.url' required)
      .split-form-group.col-xs-12.col-md-6(ng-class="{'has-error': addDocumentForm.date.$invalid && addDocumentForm.date.$dirty}")
        label.col-sm-2.control-label(for='date') Date
        .col-sm-10
          input#date.form-control(name='date' type='text' placeholder='create date' bootstrap-datatimepicker ng-model='vm.document.createdAt' required)

    .form-group
      .split-form-group.col-xs-12
        label.col-sm-2.col-md-1.control-label(for="image") Image
        .col-sm-10.col-md-11
          #image.no-padding.img-thumbnail
            .overlay(data-toggle="modal" data-target="#image-input-modal")
            img.img-responsive(ng-show="vm.document.image" ng-src="{{ vm.document.image }}")

    .form-group
      .split-form-group.col-xs-12
        label.col-sm-2.col-md-1.control-label(for="tags") Tags
        .col-sm-10.col-md-11
          select#tags.form-control.multiselect.multiselect-default(select2 multiple ng-model="vm.tags")
            option(ng-repeat="tag in vm.allTags", value="{{ tag.id }}", on-repeat-finish="set select2") {{ tag.name }}

    .form-group
      .split-form-group.col-xs-12.col-md-6
        label.col-sm-2.control-label(for='page') Page
        .col-sm-10
          .pull-left
            input#page(type="checkbox" data-toggle="switch" data-on-color="info" bootstrap-switch ng-model="vm.document.isPage")
      .split-form-group.col-xs-12.col-md-6
        label.col-sm-2.control-label(for='status') Status
        .col-sm-10
          select.form-control.select(select2 ng-model="vm.document.status")
            option(value="published") Published
            option(value="draft") Draft

.editor-markdown.col-xs-12.col-md-6
  textarea(ng-model="vm.document.markdown")
.editor-html.markdown.col-md-6.visible-md-block.visible-lg-block
