include ../../core/mixin/mixin.jade

+heading('User', 'app.users', true, '{{ vm.user.username }}', 'Save', 'btn-info', 'userDetailForm.$invalid', 'vm.save()')
.user-detail
  form.form-horizontal(name="userDetailForm")

    +line-break('basic info')
    .form-group(ng-class="{'has-error': userDetailForm.avatar.$invalid && userDetailForm.avatar.$dirty}")
      label.col-sm-2.control-label(for="avatar") Avatar
      .col-sm-7
        input#avatar.form-control(name="avatar" type='text' pattern="^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)$" placeholder="avatar url" ng-model="vm.user.avatar")
        +error-label('userDetailForm', 'avatar', 'Please input a valid url')
      .col-sm-2.col-xs-4.col-xs-offset-4.col-sm-offset-0
        img#avatar-img.img-responsive.img-thumbnail(ng-src="{{ vm.user.avatar }}")

    +form-input('userDetailForm', 'Username', 'username', 'text', 'user name', 'vm.user.username', true)
      +error-label('userDetailForm', 'username', 'Username is required')
    +form-input('userDetailForm', 'Real name', 'realm', 'text', 'real name', 'vm.user.realm')
    +form-input('userDetailForm', 'Email', 'email', 'text', 'email', 'vm.user.email', true, '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$')
      +error-label('userDetailForm', 'email', 'Please input a valid email address')

    div(ng-show="Auth.isAdmin()")
      +line-break('role')
      .form-group
        label.col-sm-2.control-label(for="role") Role
        .col-sm-9
          select#role.form-control.multiselect.multiselect-default(select2="vm.user.roles" multiple ng-model="vm.user.roles")
            option(value="admin") admin

    +line-break('password')
    .form-group(ng-class="{'has-error': userDetailForm.rpassword.$invalid && userDetailForm.rpassword.$dirty}")
      label.col-sm-2.control-label(for="pwd") Password
      .col-sm-9
        input#pwd.form-control(name='password' type='password' placeholder="new password" ng-model="vm.user.password")
        br
        input.form-control(name='rpassword' type='password' placeholder="repeat password" ng-model="vm.rpassword" compare-to="vm.user.password")
        +error-label('userDetailForm', 'rpassword', 'Password must be the same')

  form.form-horizontal.has-error(name="deleteForm" ng-show="Auth.isAdmin()")
    +line-break('delete')
    +form-input('deleteForm', 'Delete User', 'deleteName', 'text', 'input user name to delete', 'vm.deleteName', false, null, 'vm.user.username')
      div(show-animate="!deleteForm.deleteName.$invalid")
        span.control-label Delete action can't be recovered
        button.btn.btn-block.btn-danger(ng-disabled="deleteForm.deleteName.$invalid" ng-click="vm.delete()") Delete


