include ../../core/mixin/mixin.jade

.list-group.user-list-group
  a.list-group-item(href="#" ng-repeat="user in vm.users" ui-sref="app.user-detail(user)")
    image.user-avatar(ng-src="{{ user.avatar }}")
    span.user-role(ng-repeat="role in user.roles") {{ role }}
    h6.user-name {{ user.username }}
    p.user-email {{ user.email }}
