nav.main-heading.navbar.navbar-default
  .container-fluid
    .navbar-heading
      a.navbar-brand User
    ul.nav.navbar-nav.navbar-right
      li
        button.btn.btn-success.navbar-btn(ui-sref="app.add-user") Add User
.list-group
  a.list-group-item(href="#" ng-repeat="user in vm.users" ui-sref="app.user-detail(user)")
    image.user-avatar(ng-src="{{ user.avatar }}")
    span.user-role(ng-repeat="role in user.roles") {{ role }}
    h6.user-name {{ user.username }}
    p.user-email {{ user.email }}
