.user-list-group {
  padding: 10px;
}

.user-list-group .list-group-item {
  border: 0;
  border-bottom: 1px solid #BDC3C7;
  border-radius: 0;
  margin-bottom: 1px;
  /*display: inline-block;*/
  vertical-align: middle;
  height: 75px;
}

.user-list-group .list-group-item > .user-avatar {
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  width: 45px;
  height: 45px;
  background-color: #222;
  background-size: 45px;
  border-radius: 22.5px;
}

.user-list-group .list-group-item > .user-name {
  margin: 0 0 1px 0;
  font-size: 1.7rem;
  line-height: 1.7em;
  font-weight: 600;
  color: #2C3E50;
}

.user-list-group .list-group-item > .user-email {
  margin: 0;
  color: #95a5a6;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.user-list-group .list-group-item > .user-role {
  float: right;
  font-size: 1.5rem;
  display: inline-block;
  padding: 5px;
  color: #ECF0F1;
  margin: 5px 0 5px 10px;
  background-color: #34495E;
}
