#login
  .wrapper
    form.login-form(name="loginForm", novalidate, ng-submit="vm.login()")
      .form-group(ng-class="{'has-error': loginForm.password.$invalid}")
        input.form-control#login-email(name="email", type="text", ng-model="vm.loginUser.email", placeholder="Enter Email")
        label.fui-user.login-field-icon(for="login-email")
      .form-group(ng-class="{'has-error': loginForm.password.$invalid}")
        input.form-control#login-pass(name="password", type="password", ng-model="vm.loginUser.password", placeholder="Password")
        label.fui-lock.login-field-icon(for="login-pass")
        div(show-animate="loginForm.password.$invalid")
          span.has-error.control-label Wrong password.
      button.btn.btn-primary.btn-lg.btn-block Log in
