include ../../core/mixin/mixin.jade

+heading('Document', 'app.documents', false, '{{ vm.document.title }}', 'Save', 'btn-info', null, 'vm.save()')
.document-detail-list.col-md-4.visible-md-block.visible-lg-block(ui-view="list")
.document-detail-content.col-md-8(ui-view="detail")
