.container-fluid
  .navbar-heading
    a.navbar-brand.enable(href="" ui-sref="app.documents") Document
    a.navbar-brand
      span.glyphicon.glyphicon-menu-right
    a.navbar-brand {{ vm.document.title }}
  ul.nav.navbar-nav.navbar-right
    li
      button.btn.btn-info.navbar-btn Edit
