include ../../core/mixin/mixin.jade

.add-user
  form.form-horizontal(name="addUserForm")

    +line-break('basic info')
    .form-group
      label.col-sm-2.control-label(for="avatar") Avatar
      .col-sm-9
        #avatar.no-padding.img-thumbnail
          .overlay(data-toggle="modal" data-target="#avatar-input-modal")
          img.img-responsive(ng-show="vm.user.avatar" ng-src="{{ vm.user.avatar }}")
          span.fui-user.default-avatar(ng-hide="vm.user.avatar")

      //- avatar input modal
      #avatar-input-modal.modal(tabindex="-1" role="dialog")
        .vertical-alignment-helper
          .modal-dialog.vertical-align-center
            .modal-content
              .modal-body
                .no-padding(ng-show="vm.avatarTypeSwitch")
                  input.form-control(type='text' placeholder="avatar url" ng-model="vm.avatar")
              .modal-footer
                .pull-left
                  input(checked type="checkbox" data-toggle="switch" data-on-text="link" data-off-text="file" data-on-color="info" bootstrap-switch ng-model="vm.avatarTypeSwitch")
                button.btn.btn-default(type="button" data-dismiss="modal") Close
                button.btn.btn-info(type="button" data-dismiss="modal" ng-click="vm.saveAvatar()") Save

    +form-input('addUserForm', 'Username', 'username', 'text', 'user name', 'vm.user.username', true)
      +error-label('addUserForm', 'username', 'Username is required')
    +form-input('addUserForm', 'Real name', 'realm', 'text', 'real name', 'vm.user.realm')
    +form-input('addUserForm', 'Email', 'email', 'text', 'email', 'vm.user.email', true, '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$')
      +error-label('addUserForm', 'email', 'Please input a valid email address')

    +line-break('role')
    .form-group
      label.col-sm-2.control-label(for="role") Role
      .col-sm-9
        select#role.form-control.multiselect.multiselect-default(select2="vm.user.roles" multiple ng-model="vm.user.roles")
          option(value="admin") admin

    +line-break('password')
    .form-group(ng-class="{'has-error': addUserForm.rpassword.$invalid && addUserForm.rpassword.$dirty}")
      label.col-sm-2.control-label(for="pwd") Password
      .col-sm-9
        input#pwd.form-control(name='password' type='password' placeholder="new password" ng-model="vm.user.password" required)
        +error-label('addUserForm', 'password', 'Password is required')
        br
        input.form-control(name='rpassword' type='password' placeholder="repeat password" ng-model="vm.rpassword" compare-to="vm.user.password")
        +error-label('addUserForm', 'rpassword', 'Password must be the same')
