html,
body {
  position: relative;
  height: 100%;
}

.inherit-height {
  height: inherit;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  position: fixed;
  /*top: 51px;*/
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #ECF0F1;
  border-right: 1px solid #BDC3C7;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar > .container-fluid {
  padding: 0 20px;
}

.sidebar-header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-right: -11px;
}

.sidebar-header > .sidebar-header-icon {
  flex-shrink: 0;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  background-color: #222;
  background-size: 44px;
  border-radius: 4px;
}

.sidebar-header > .sidebar-header-detail {
  flex-grow: 1;
  min-width: 0;
}

.sidebar-header > .sidebar-header-detail > .sidebar-header-title {
  overflow: hidden;
  margin-bottom: 1px;
  font-size: 1.7rem;
  line-height: 1.7em;
  font-weight: 600;
  color: #2C3E50;
}

.sidebar-header > .sidebar-header-detail > .sidebar-header-description {
  overflow: hidden;
  color: #95a5a6;
  font-size: 1.5rem;
  line-height: 1.5em;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar li.sidebar-header {
  color: #95a5a6;
  font-size: 1.5rem;
  padding: 0 0 0 10px;
}

.nav-sidebar li > a {
  padding: 8px 20px;
  margin-right: 10px;
  font-size: 1.5rem;
  color: #2C3E50;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.nav-sidebar span.glyphicon {
  margin-right: 5px;
}

.nav-sidebar li.active > a,
.nav-sidebar li > a:hover,
.nav-sidebar li > a:focus {
  color: #ECF0F1;
  background-color: #3498DB;
}

/*
 * Main
 */
.main {
  position: relative;
  padding: 0;
  height: 100%;
}

.toolbar-wrapper {
  position: absolute;
  width: 100%;
  height: 53px;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 53px;
}

#toolbar, #content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#content {
  overflow-x: hidden;
  overflow-y: auto;
}

/**
 *
 * Toolbar
 *
 */


.toolbar {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #BDC3C7;
  z-index: 99;
  height: 50px;
  width: 100%;
  white-space: nowrap;
}

.toolbar .container-fluid {
  position: relative;
}

.toolbar .navbar-heading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.toolbar .show-sidebar {
  color: #34495e;
  background-color: transparent;
}

.toolbar .show-sidebar:hover {
  color: #3498DB;
}

.toolbar .navbar-brand {
  margin-left: -21px !important;
  float: left !important;
  font-size: 24px;
  overflow: hidden;
  vertical-align: middle;
}

.toolbar .toolbar-child:hover,
.toolbar .toolbar-arrow:hover,
.toolbar .toolbar-child:focus,
.toolbar .toolbar-arrow:focus {
  color: inherit !important;
}

.toolbar .toolbar-parent:hover,
.toolbar .toolbar-parent:focus {
  color: #3498DB !important;
}

.toolbar .navbar-right {
  margin: 0 !important;
  float: right !important;
}

.toolbar .navbar-left {
  margin: 0 !important;
  float: left !important;
}

.toolbar .navbar-right > li {
  float: left; !important;
}

.toolbar .toolbar-status,
.toolbar .toolbar-input-form {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 16px;
  width: 100%;
  height: 53px;
  white-space: nowrap;
}

.toolbar .toolbar-status > li {
  display: inline-block;
}

.toolbar .toolbar-status a {
  padding: 15px 21px;
}

.toolbar .toolbar-input-form {
  margin: 0;
  border: 0;
}

@media (max-width: 768px) {
  .toolbar .toolbar-input-form,
  .toolbar .toolbar-status {
    padding-left: 46px;
  }
}

.toolbar .form-group {
  width: inherit;
}

.toolbar .toolbar-input {
  font-size: 24px;
  font-weight: bold;
  width: inherit;
  border: 0;
  padding: 0;
}

.toolbar .toolbar-buttons {
  position: absolute;
  top: 0;
  right: 20px;
}

.toolbar .btn-empty {
  color: #34495e;
  background-color: transparent;
}

.toolbar .btn-empty:hover {
  color: #3498DB;
}

/**
 *
 * Notification
 *
 */

.notify-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  clear: right;
  z-index: 99999;
  pointer-events: none;
}

.notify-wrapper .notify {
  display: inline-block;
  padding: 0 30px;
  margin: auto;
}

/**
 *
 * Markdown
 *
 */

.markdown a {
  color: #34495e;
}

.markdown a[href] {
  color: #2980B9;
}

.markdown a[href]:hover {
  color: #3498DB;
}

/**
 *
 * Some Helper Classes
 *
 */

.static {
  position: static;
}

.no-padding {
  padding: 0;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.vertical-align-center .modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

/**
 *
 * Bootstrap switch
 *
 */

.bootstrap-switch {
  border: 0;
  border-radius: 0;
}

/**
 *
 * Date time picker
 *
 */

.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
  width: 30em !important;
}

.bootstrap-datetimepicker-widget .datepicker.col-md-6,
.bootstrap-datetimepicker-widget .timepicker.col-md-6 {
  width: 50% !important;
  float: left;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #1abc9c;
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #1abc9c;
}

.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  display: none;
}

/*.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 2px solid #bdc3c7;
  background-color: #ECF0F1;
}*/

/*.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #ECF0F1 !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #ECF0F1 !important;
}*/

