.add-user {
  padding: 20px 10px;
}

.add-user #avatar {
  width: 140px;
  height: 140px;
  position: relative;
  padding: 6px;
}

.add-user #avatar > .default-avatar,
.add-user #avatar > .overlay {
  margin: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-user #avatar > .overlay {
  opacity: 0.3;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.add-user #avatar:hover > .overlay {
  background-color: black;
  z-index: 1;
}

.add-user #avatar > .default-avatar {
  font-size: 140px;
  overflow: hidden;
  z-index: 0;
}

.add-user #avatar > .default-avatar:before {
  top: -45px;
  left: 1px;
  position: relative;
}
