include ../../core/mixin/mixin.jade

.add-user
  form.form-horizontal(name="addUserForm")

    +line-break('basic info')
    .form-group(ng-class="{'has-error': addUserForm.avatar.$invalid && addUserForm.avatar.$dirty}")
      label.col-sm-2.control-label(for="avatar") Avatar
      .col-sm-7
        input#avatar.form-control(name="avatar" type='text' pattern="^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)$" placeholder="avatar url" ng-model="vm.user.avatar")
        +error-label('addUserForm', 'avatar', 'Please input a valid url')
      .col-sm-2.col-xs-4.col-xs-offset-4.col-sm-offset-0
        img#avatar-img.img-responsive.img-thumbnail(ng-src="{{ vm.user.avatar }}")

    +form-input('addUserForm', 'Username', 'username', 'text', 'user name', 'vm.user.username', true)
      +error-label('addUserForm', 'username', 'Username is required')
    +form-input('addUserForm', 'Real name', 'realm', 'text', 'real name', 'vm.user.realm')
    +form-input('addUserForm', 'Email', 'email', 'text', 'email', 'vm.user.email', true, '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$')
      +error-label('addUserForm', 'email', 'Please input a valid email address')

    +line-break('role')
    .form-group
      label.col-sm-2.control-label(for="role") Role
      .col-sm-9
        select#role.form-control.multiselect.multiselect-default(select2="vm.user.roles" multiple ng-model="vm.user.roles")
          option(value="admin") admin

    +line-break('password')
    .form-group(ng-class="{'has-error': addUserForm.rpassword.$invalid && addUserForm.rpassword.$dirty}")
      label.col-sm-2.control-label(for="pwd") Password
      .col-sm-9
        input#pwd.form-control(name='password' type='password' placeholder="new password" ng-model="vm.user.password" required)
        +error-label('addUserForm', 'password', 'Password is required')
        br
        input.form-control(name='rpassword' type='password' placeholder="repeat password" ng-model="vm.rpassword" compare-to="vm.user.password")
        +error-label('addUserForm', 'rpassword', 'Password must be the same')
